/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
body{
	margin:0;
	padding:0;
	background-color:
}
header{
	position:absolute;
	width:100%;
	height:220px;
	background-image:url("../img/portfolio1.jpg");
	background-size:100% 235px; 

}
#caixa{
	margin-left:245px;
	margin-top:220px;
	position:absolute;
	width:82.65%;
	height:72.1%;
    background-color:rgba(168,168,168,0.7); 
}
#esquerda{
	position:absolute;
	height:72.5%;
	width:245px;
	margin-top:220px;
	background-color:#A8A8A8;
}
.barra{
	width:220px;
	height:60%;
	position:absolute;
	transition:all .2s linear;
	float:left;
	margin-top:220px;
	border-radius:8px;
}
nav{
	width:100%;
	position:absolute;
	top:25px;
	
}
nav a{
	text-decoration:none;
}
.link{
	background-color:#23238e;
	padding:20px;
	font-family:"arial";
	font-size:12pt;
	transition:all .2s linear;
	color:#f4f4f9;
	border-bottom:2px sploid #222;
	opacity:0px;
	margin-top:20px;
}
div.bg{
	margin-left:225px;
	position:absolute;
	width:50%;
	height:50%;
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
div#imagem1{
	background-image:url(../img/a.jpg);
}
div#imagem2{
	background-image:url(../img/b.jpg);
}
div#imagem3{
	background-image:url(../img/c.jpg);
}
div#imagem4{
	background-image:url(../img/d.jpg);
}
div#imagem5{
	background-image:url(../img/e.jpg);
}
div#imagem6{
	background-image:url(../img/f.jpg);
}
div#imagem7{
	background-image:url(../img/g.jpg);
}
div#imagem8{
	background-image:url(../img/h.jpg);
}
.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
