*{
	margin:0;
	padding:0;
}
#cima{
	position:absolute;
	background-color:red;
	height:266px;
	width:20%

}
#baixo{
	position:absolute;
	width:20%;
	height:266px;
	background-color:#FFFF00;
	margin-left:40%;
}
#as{
	position:absolute;
	width:20%;
	height:266px;
	background-color:green;
	margin-left:80%;
}
#ff{
	position:absolute;
	width:20%;
	height:266px;
	background-color:blue;
	margin-left:20%;
	margin-top:266px;
}
#gg{
	position:absolute;
	width:20%;
	height:266px;
	background-color:#6B238E;
	margin-left:60%;
	margin-top:266px;
}
#aa{
	position:absolute;
	width:20%;
	height:266px;
	background-color:pink;
	margin-left:;
	margin-top:532px;
}
#bb{
	position:absolute;
	width:20%;
	height:266px;
	background-color:#99CC32 ;
	margin-left:40%;
	margin-top:532px;
}
#cc{
	position:absolute;
	width:20%;
	height:266px;
	background-color:gray;
	margin-left:80%;
	margin-top:532px;
}




